<% include ./partials/header.ejs %>
<h1>Register page</h1>
<form method="POST" action="/register">
<input type="text" name="username" placeholder=" Enter username">
<input type="password" name="password" placeholder=" Enter password">
<button>Submit</button>
<% include ./partials/footer.ejs %>