<% include ./partials/header.ejs %>
<h1><%= campground.name %></h1>

<img width='500px' src="<%= campground.image %>" >

<div>
    <p>
        <h3><%= campground.description %></h3>
    </p>
</div>

<% include ./partials/footer.ejs %>